@media screen and (max-width:479px){
    
    /* 공통 */
    .Wrap {width:100%;}
    .navClose {display:block;}
    
    #gnb {display:none;}
    header h1 {width:50%; margin:0 auto; height:40px; padding:0;}
    header h1 img {width:30%;}
    
    nav {width:100%;}
    nav .navHamburger {cursor:pointer; display:inline;}

    #navTrigger {display:none;}
    div.blackBox {position: fixed; z-index:99; width:100%; height:100%; top:0; left: 0; display:none; background: rgba(0,0,0, 0.4);}
    
    nav #lnb {float:none; position:fixed; width:60%; height:100%; background-color:white; left:-100%; top:0; overflow-y: auto; overflow-x:hidden; z-index: 999; transition:left .2s ease-in-out; box-shadow:0 0 5px;}
    
    #lnb li {float:none; position:relative;}
    #lnb li a {display:block; padding:0 50px; color:black; font-size:15px; font-weight:bold; letter-spacing:2px;}
    
    #navTrigger:checked ~ div.blackBox {display:block;}
    #navTrigger:checked ~ #lnb {left:0%;}
   
    nav .navLeft {float:right;}
    nav #sideSearch {float:left; position:relative;}
    #sideSearch .searchField {width:150px; height:20px; }
    .btn_search {width:24px; position:absolute; right:0; top:10px;}
    
    /* register box */

    section > p {padding:20px 20px 0; font-size:12px; border-top:1px solid #ddd;}

    .formWrapper {width:100%; margin:0;}
    .formWrapper form {margin:0 0 30px 0; font-size:13px;}
    
    fieldset table th {text-align:center; width:100px; height:60px; background-color:#f8f8f8;}
    fieldset table td {padding:0 10px;}
    fieldset table .textBox {width:120px; height:25px; border:1px solid grey;}

    fieldset table tr:nth-child(5) input,fieldset table tr:nth-child(6) input {width:30px;}
    fieldset table tr:nth-child(7) input {margin:5px 0;}
    fieldset table .CheckBox { display:inline-block; font-size:12px; width:100px; height:23px; text-align:center; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    fieldset table .detailAddr {width:100%;}

     /* terms */
    .formWrapper .terms {width:260px;}
    .formWrapper p.text_size {font-size:12px;}
    
    .btnWrapper  {width:310px; margin:0 auto 50px;  }
    .btnWrapper button {width:130px; height:40px; margin:0 10px; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    .btnWrapper button:first-child {background-color:white; color:black;}

     /* footer */
    footer h2 {display:none;}
    footer .Wrap div {box-sizing: border-box; height:auto; overflow: hidden;}
    footer .Wrap div:nth-of-type(1) {display:none;}
    footer .Wrap div:nth-of-type(2) {padding:20px 20px 40px;}
    footer .Wrap div:nth-of-type(2) .footerLeft li {float:left;}
    footer .Wrap div:nth-of-type(2) li a {display:block; padding:5px; font-size:12px; color:#767677; font-weight:700;}
    footer .Wrap div:nth-of-type(2) li:last-child {display:none;}

    ul.footerRight {display:none;}
    
    
    ul.footerRight li:nth-of-type(2) {margin:0 5px;}
   
    footer .Wrap div:nth-of-type(3) {width:100%; background-color:#e3e3e5; }
    footer .Wrap div:nth-of-type(3) img {width:30%; float:none;}
    
    footer .Wrap div:nth-of-type(3) dl {display:block; padding:2px 0 2px; font-size:12px; }
    
    footer .Wrap div:nth-of-type(3) dt,footer .Wrap div:nth-of-type(3) dd {display:none;}
    
    footer .Wrap div:nth-of-type(3) .dispBlock {display:block;}
    footer .Wrap div:nth-of-type(3) dt::after {display:none;}
    
    aside {display:none;}
    
}

@media screen and (min-width:480px) and (max-width:639px) {
    
     /* 공통 */
    .Wrap {width:100%;}
    .navClose {display:block;}
    
    #gnb {display:none;}
    header h1 {width:50%; margin:0 auto; height:60px; padding:0;}
    header h1 img {width:30%;}
    
    nav {width:100%;}
    nav .navHamburger {cursor:pointer; display:inline;}

    #navTrigger {display:none;}
    div.blackBox {position: fixed; z-index:99; width:100%; height:100%; top:0; left: 0; display:none; background: rgba(0,0,0, 0.4);}
    
    nav #lnb {float:none; position:fixed; width:60%; height:100%; background-color:white; left:-100%; top:0; overflow-y: auto; overflow-x:hidden; z-index: 999; transition:left .2s ease-in-out; box-shadow:0 0 5px;}
    
    #lnb li {float:none; position:relative;}
    #lnb li a {display:block; padding:0 50px; color:black; font-size:15px; font-weight:bold; letter-spacing:2px;}
    
    #navTrigger:checked ~ div.blackBox {display:block;}
    #navTrigger:checked ~ #lnb {left:0%;}
   
    nav .navLeft {float:right;}
    nav #sideSearch {float:left; position:relative;}
    #sideSearch .searchField {width:150px; height:20px; }
    .btn_search {width:24px; position:absolute; right:0; top:10px;}
   
     /* register box */

    section > p {padding:30px 20px 0; font-size:12px; border-top:1px solid #ddd;}

    #formWrapper {width:90%; margin:0 auto;}
    #formWrapper form {margin:0 0 30px 0; font-size:14px;}
    
    fieldset table th {text-align:center; width:150px; height:60px; background-color:#f8f8f8;}
    fieldset table td {padding:0 10px;}
    fieldset table .textBox {width:120px; height:25px; border:1px solid grey;}

    fieldset table tr:nth-child(5) input,fieldset table tr:nth-child(6) input {width:50px;}
    fieldset table tr:nth-child(7) input {margin:5px 0;}
    fieldset table .CheckBox { display:inline-block; font-size:12px; width:100px; height:28px; text-align:center; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    fieldset table .detailAddr {width:100%;}

    /* terms */
    fieldset table td.padding_none {}
    .formWrapper .terms {width:400px; margin:0;}
    .formWrapper .joinTerms p{width:70%;}
    .formWrapper p.text_size {width: 80%; font-size:12px;}
    
    .btnWrapper  {width:310px; margin:0 auto 50px;  }
    .btnWrapper button {width:130px; height:40px; margin:0 10px; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    .btnWrapper button:first-child {background-color:white; color:black;}

    
    /* footer */
    footer h2 {display:none;}
    footer .Wrap div {box-sizing: border-box; height:auto; overflow: hidden;}
    footer .Wrap div:nth-of-type(1) {display:none;}
    footer .Wrap div:nth-of-type(2) {padding:20px 20px 40px; }
    footer .Wrap div:nth-of-type(2) .footerLeft li {float:left; display:block;}
    footer .Wrap div:nth-of-type(2) li a {display:block; padding:5px 10px; font-size:12px; color:#767677; font-weight:700;}

    ul.footerRight {float:left; margin:10px; overflow:hidden; }
    ul.footerRight li {}
    
    ul.footerRight li:nth-of-type(2) {margin:0 5px;}
   
    footer .Wrap div:nth-of-type(3) {width:100%; background-color:#e3e3e5;}
    footer .Wrap div:nth-of-type(3) img {width:30%; margin:0 20px;float:left;}
    
    footer .Wrap div:nth-of-type(3) dl {display:block; padding:2px 0 2px; font-size:12px;}
    
    footer .Wrap div:nth-of-type(3) dt,footer .Wrap div:nth-of-type(3) dd {display:none;}
    
    footer .Wrap div:nth-of-type(3) .dispBlock {display:block;}
    footer .Wrap div:nth-of-type(3) dt::after {display:none;}
    
    aside {display:none;}
    
}

@media screen and (min-width:640px) and (max-width:779px){
    
     /* 공통 */
    .Wrap {width:100%;}
    .navClose {display:block;}
    
    #gnb {display:none;}
    header h1 {width:60%; margin:0 auto; height:90px; padding:0;}
    header h1 img {width:30%;}
    
    nav {width:100%;}
    nav .navHamburger {cursor:pointer; display:inline;}

    #navTrigger {display:none;}
    div.blackBox {position: fixed; z-index:99; width:100%; height:100%; top:0; left: 0; display:none; background: rgba(0,0,0, 0.4);}
    
    nav #lnb {float:none; position:fixed; width:60%; height:100%; background-color:white; left:-100%; top:0; overflow-y: auto; overflow-x:hidden; z-index: 999; transition:left .2s ease-in-out; box-shadow:0 0 5px;}
    
    #lnb li {float:none; position:relative;}
    #lnb li a {display:block; padding:0 50px; color:black; font-size:15px; font-weight:bold; letter-spacing:2px;}
    
    #navTrigger:checked ~ div.blackBox {display:block;}
    #navTrigger:checked ~ #lnb {left:0%;}
   
    nav .navLeft {float:right;}
    nav #sideSearch {float:left; position:relative;}
    #sideSearch .searchField {width:150px; height:20px; }
    .btn_search {width:24px; position:absolute; right:0; top:10px;}
    
    /* register box */
    section > p {padding:30px 20px 0; font-size:12px; border-top:1px solid #ddd;}

    #formWrapper {width:90%; margin:0 auto;}
    #formWrapper form {margin:0 0 30px 0; font-size:14px;}
    
    fieldset table th {text-align:center; width:180px; height:60px; background-color:#f8f8f8;}
    fieldset table td {padding:0 10px;}
    fieldset table .textBox {width:150px; height:25px; border:1px solid grey;}

    fieldset table tr:nth-child(5) input,fieldset table tr:nth-child(6) input {width:60px;}
    fieldset table tr:nth-child(7) input {margin:5px 0;}
    fieldset table .CheckBox { display:inline-block; font-size:12px; width:100px; height:28px; text-align:center; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    fieldset table .detailAddr {width:100%;}

    /* terms */
    .formWrapper .terms {width:550px;}
    
    .btnWrapper  {width:310px; margin:0 auto 50px;  }
    .btnWrapper button {width:130px; height:40px; margin:0 10px; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    .btnWrapper button:first-child {background-color:white; color:black;}
    
    
    /* footer */
    footer h2 {display:none;}
    footer .Wrap div {box-sizing: border-box; height:auto; overflow: hidden;}
    footer .Wrap div:nth-of-type(1) {display:none;}
    footer .Wrap div:nth-of-type(2) {padding:20px 20px 40px; }
    footer .Wrap div:nth-of-type(2) .footerLeft li {float:left; display:block;}
    footer .Wrap div:nth-of-type(2) li a {display:block; padding:5px 10px; font-size:12px; color:#767677; font-weight:700;}

    ul.footerRight {float:right; margin:10px; overflow:hidden; }
    ul.footerRight li {}
    
    ul.footerRight li:nth-of-type(2) {margin:0 5px;}
   
    footer .Wrap div:nth-of-type(3) {width:100%; background-color:#e3e3e5;}
    footer .Wrap div:nth-of-type(3) img {width:30%; margin:0 20px;float:left;}
    
    footer .Wrap div:nth-of-type(3) dl {display:block; padding:2px 0 2px; font-size:12px;}
    
    footer .Wrap div:nth-of-type(3) dt,footer .Wrap div:nth-of-type(3) dd {display:none;}
    
    footer .Wrap div:nth-of-type(3) .dispBlock {display:block;}
    footer .Wrap div:nth-of-type(3) dt::after {display:none;}
    
    aside {display:none;}
}

@media screen and (min-width:780px) and (max-width:1023px){
        
     /* 공통 */
    .Wrap {width:100%;}
    .navClose {display:block;}
    
    #gnb {}
    header h1 {width:50%; margin:0 auto; height:120px; padding:0;}
    header h1 img {width:40%;}
    
    /* nav */
    nav {width:100%; height:40px; line-height:40px; border-bottom:1px solid #d9d9d9;}
    nav h2 {display:none;}
    .navHamburger,.navClose,#navTrigger {display:none;}

    nav #lnb {float:left; position:relative;}
    #lnb li {float:left; position:relative;}
    #lnb li a {display:block; padding:0 35px; color:black; font-size:15px; font-weight:bold; letter-spacing:2px;}

    nav .navLeft {display:none;}

    /* nav 2Depth */
    
    .lnb_sub.on {display:block;}
    .lnb_sub > .inner_lnbsub {width:700px;}
    .inner_lnbsub > div { width:120px; }
    .lnb_sub > .inner_lnbsub span { width:120px; }
    
    /* register box */

    section > p {padding:20px 20px 0; font-size:13px;}

    #formWrapper {width:90%; margin:0 auto;}
    #formWrapper form {margin:0 0 30px 0; font-size:14px;}
    
    fieldset table th {text-align:center; width:180px; height:60px; background-color:#f8f8f8;}
    fieldset table td {padding:0 100px 0 20px;}
    fieldset table .textBox {width:150px; height:25px; border:1px solid grey;}

    fieldset table tr:nth-child(5) input,fieldset table tr:nth-child(6) input {width:60px;}
    fieldset table tr:nth-child(7) input {margin:5px 0;}
    fieldset table .CheckBox { display:inline-block; font-size:12px; width:100px; height:28px; text-align:center; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    fieldset table .detailAddr {width:100%;}

    .btnWrapper  {width:310px; margin:0 auto 50px;}
    .btnWrapper button {width:130px; height:40px; margin:0 10px; color:white; background-color:purple; border:0.1px solid #e3e3e5;}
    .btnWrapper button:first-child {background-color:white; color:black;}
    
    /* terms */
    .formWrapper .terms {width:700px;}


    /* footer */
    
    footer .Wrap div:nth-of-type(1) li {list-style:disc; font-size:13px;}
    footer .Wrap div:nth-of-type(2) .footerLeft li {float:left; display:block;}
    footer .Wrap div:nth-of-type(2) li a {display:block; padding:5px 10px; font-size:12px; color:#767677; font-weight:700;}
    ul.footerRight {float:right; margin:10px; overflow:hidden; }
    ul.footerRight li:nth-of-type(2) {margin:0 5px;}

}

@media screen and (min-width:1024px) and (max-width:1279px){
    
    /* 공통 */
    .Wrap {width:100%;}
    .navClose {display:block;}

    header h1 {width:50%; margin:0 auto;  padding:0;}
    header h1 img {width:40%;}
    
    /* nav */
    nav h2 {display:none;}
    .navHamburger,.navClose,#navTrigger {display:none;}

    #lnb li a {padding:0 50px;}

    /* nav 2Depth */
    
    .lnb_sub.on {display:block;}
    .lnb_sub > .inner_lnbsub {width:1000px;}
    

    /* footer */
    
    footer .Wrap div:nth-of-type(1) li {list-style:disc; font-size:15px;}

}


