@charset "utf-8";
* {padding:0; margin:0;}
ol,li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:top;}

/* 공통 */
.Wrap {width:1260px; margin:0 auto; background-color:white; }
h2 {font:25px bold arial,sans-serif;}

/* path */
#path {margin:10px; padding:10px; font-size:17px;}

/* prouct list */
#product_list {text-align: center; height:auto; overflow: hidden;}
#product_list h2 {display:none;}
#product_list li {width:21%; height:auto; float:left; position:relative; margin: 30px 25px; box-sizing: border-box; border:1px solid #eee; transition:all .4s;}
#product_list li:hover {box-shadow: 0 0 1px #000; cursor: pointer;}

#product_list li .hover_effect {position:absolute; width:100%; height:100%; left:0; top:0; background-color: rgba(255,255,255,0.3); opacity:0; transition:all .5s;}
#product_list li .hover_effect .list_detail {display:block; position:absolute; width:auto; height:auto; top:35%; left:50%; transform:translateX(-50%); padding:10px; background-color:purple; color:#fff; font-size:17px;}

#product_list li:hover .hover_effect {opacity: 1;}
#product_list li img {width:100%; height:320px;}

#product_list .product_box {white-space: nowrap; width:100%; overflow:hidden; text-overflow: ellipsis; word-wrap: normal; text-align:left; box-sizing:border-box; padding:10px;}
#product_list .product_box .title {font-size:17px;}
#product_list .product_box .price {font-size:15px;}
#product_list .product_box .detail {font-size:14px;}

/* more content */
#product_list #moreBtn {width:100px; height:30px; line-height:30px; margin:20px auto 50px; font-size:20px; border:0.1px solid #fff;}
#product_list #toggle_slide {display:none;}


/* paging */
#paging {margin:0 auto 30px;}
#paging p {width:30%; margin:0 auto; text-align: center;}
#paging p .btnPage {padding:5px;}
#paging span a {display:inline-block; width:30px; height:30px; padding:5px; font-size:25px;} 
#paging span strong {font-weight:bold; text-decoration: underline;}
#paging i {font-size:30px;}
